@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  background-color: #D8BE93;
}

.deckle-edge {
  clip-path: polygon(
    0% 2%, 3% 0%, 8% 1%, 14% 0%, 20% 1.5%, 27% 0%, 34% 1%, 41% 0%, 48% 1.5%,
    55% 0%, 62% 1%, 69% 0%, 76% 1.5%, 83% 0%, 90% 1%, 96% 0%, 100% 2%,
    100% 98%, 97% 100%, 92% 99%, 86% 100%, 79% 98.5%, 73% 100%, 66% 99%,
    59% 100%, 52% 98.5%, 45% 100%, 38% 99%, 31% 100%, 24% 98.5%, 17% 100%,
    10% 99%, 4% 100%, 0% 98%
  );
}
